<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RestaurantApp">

	<listeners>
		<listener class-name="com.Restaurant.utilities.Reporting" />
	</listeners>


	<test name="RestaurantApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.Restaurant.testCases.TC_LoginTest_001" />
			<class name="com.Restaurant.testCases.TC_SearchForDish_002" />
			<class name="com.Restaurant.testCases.TC_AddLoginCredentials_003" />
		</classes>

	</test>

</suite>